// app global css in SCSS form
 ::-webkit-scrollbar {
    background-color: $dark;
    width: .4em
}

 ::-webkit-scrollbar-thumb:window-inactive,
 ::-webkit-scrollbar-thumb {
    background: $primary
}

.torrentRowPaused {
    box-shadow: inset 0px 0px 3px 0px $warning;
}

.torrentRowInfoRow {
    background-color: adjust-color($color: $primary, $alpha: -0.75)
}